In [2]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('spam.csv', encoding='latin-1')

In [10]:
df.head(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,NaN,NaN
6,ham,Even my brother is not like to speak with me. ...,NaN,NaN,NaN
7,ham,As per your request 'Melle Melle (Oru Minnamin...,NaN,NaN,NaN
8,spam,WINNER!! As a valued network customer you have...,NaN,NaN,NaN
9,spam,Had your mobile 11 months or more? U R entitle...,NaN,NaN,NaN

In [9]:
df.shape

(5572, 5)

In [11]:
# 1. Data CLeaning
# 2. EDA-- Exploratory Data Analysis
# 3. Text Preprocessing
# 4. Model Building
# 5. Evaluation of Model
# 6. Improvement of Model 
# 7. Website Building and Other
# 8. Deploy in server

 ## Step 1. Data Cleaning of spam Data

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [15]:
# Dropping last 3 columns as we have only 50 rows at max from which we cannot analyze anything beacuse it is o less data
df.drop(columns=['Unnamed: 4','Unnamed: 3','Unnamed: 2'],inplace=True)

In [21]:
df.sample(5)

        v1                                                 v2
2112  spam  You are a winner you have been specially selec...
197    ham  is your hamster dead? Hey so tmr i meet you at...
2756   ham  Have a good trip. Watch out for . Remember whe...
2072   ham                            That is wondarfull song
3531   ham  Actually, my mobile is full of msg. And i m do...

In [19]:
df.shape

(5572, 2)

In [24]:
# Renaimg a columns
df.rename(columns={'v1':'target','v2':'text'},inplace=True)
df.sample(3)

     target                                               text
2436    ham  Btw regarding that we should really try to see...
3406    ham  Beautiful Truth against Gravity.. Read careful...
3412    ham                 Where do you need to go to get it?

In [26]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [30]:
# Changes ham to 0 and spam to 1
df['target'] = encoder.fit_transform(df['target'])

In [32]:
df.head(2)

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...

In [34]:
# Checking Missing Values
df.isnull().sum()

target    0
text      0
dtype: int64

In [ ]:
# Checking